.vtag{
	font-size: 22px;
	color: white;
	background-color: green;
	border: 1px solid;
	width: 711px;
	text-align: center;
 	padding: 10px 0px 10px 0px; /* top right bottom left */
	text-transform: uppercase; /* all caps letter */
}
.vdo{
	height: 400px;
}
.lists{
	color: white;
	background-color: red;
	border: 1px solid;
	width: 711px;
	text-align: center;
 	padding: 5px 0px 5px 0px; /* top right bottom left */
	text-transform: uppercase; /* all caps letter */
}
.p_lists{
	font-size: 20px;
	font-weight: 700;
}
.p_ul{
	text-decoration: underline;
}
.p_ol{
	text-decoration: underline;}
.p_des_lists{
	text-decoration: underline;
}
.table{
  border: 5px solid black;
 }
 .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#p_table{
	font-size: 22px;
	font-weight: 600;
	color: #000;
	background-color: yellow;
	border: 1px solid yellow;
	width: 711px;
	text-align: center;
 	padding: 5px 0px 5px 0px; /* top right bottom left */
	text-transform: uppercase; /* all caps letter */